.navigation {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 10;
  padding: 10px 13%;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  .grid-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .col-2 {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
  .menu {
    width: max-content;
    .menu-list {
    }
  }
}
